.app {
    min-height: 100vh;
    background: rgb(95, 167, 190);
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.tweet{
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}